<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gerakul.FastSql.Common" version="1.0.0" targetFramework="net462" />
  <package id="Gerakul.FastSql.SqlServer" version="1.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.5.1" targetFramework="net462" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net462" />
</packages>